include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug


mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin arrow2()
	+b.sw-arrows
		+e.row.row.justify-content-center
			.col-auto
				.swiper-prev
					+icon('chevron-left')
			+e.fract.fract-js.col-auto 3 / 5
			.col-auto
				.swiper-next
					+icon('chevron-right')

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->


mixin pageHead(h1, back)
	+b.page-head.section
		.container 
			.row
				.col
					block
					h1!= h1
				if back 
					.col-lg-2.order-first
						+e.link-back(href="#" title="Назад")
							+icon('arrow-left')

mixin pageHead-cabinet()
	+b.page-head--cabinet.section
		.container
			+e.row-title.row
				.col
					h1 Личный кабинет
				.col-md-auto
					+e.btn(href="#") Редактировать профиль
			if block
				block


mixin pageBody(about,type)
	main.container.container--main 
		.row.row--main
			.col-lg-4.order-lg-first.order-last
				if about
					+b.sidebar
						ul
							li
								a.active(href="#") Об организации
								if type == 1
									ul
										li
											a.active(href="#") История
										li
											a(href="#") Руководство
										li
											a(href="#") Исполком
										li
											a(href="#") Достижения
										li
											a(href="#") Добровольцы
										li
											a(href="#") Партнеры
							li
								a(href="#") Документы
							li
								a(href="#") Пресс-кит
								if type == 3
									ul
										li
											a.active(href="#") Айдентика
										li
											a(href="#") Отчеты о деятельности
										li
											a(href="#") Логотипы региональных подразделений
										li
											a(href="#") Видеогалерея
				else
					+b.sidebar
						ul
							li
								a.active(href="#") Главные новости
							li
								a(href="#") Региональные новости
							li
								a(href="#") Наши герои
							li
								a(href="#") СМИ о нас
							li
								a(href="#") Галерея
			.col-lg-8
				block

mixin document-item(title,doc,caption)
	+b.document-item
		+e.title(href="#" target="_blank")!=title
		+e.type!=`${doc}, 12 mb`
		+e.caption!=caption

mixin sEventsChb(txt, addClasses='')
	+b.LABEL.btn-chb(class=addClasses)
		input(type="checkbox" class='invisible' name=txt)&attributes(attributes)
		span.bar
		span.txt=txt

mixin feature(t, c, bg)
	.feature-item(style=`--color: ${c}; --bg-color: ${bg};`)!= t

mixin score-item(c, t)
	+b.score-item
		span.text-primary!= c
		span!= t
